
body {
    color:black;
    background-color:white;
    background-image:url('arriere plan.png');
    margin:auto;
    width:50%;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;


}
h2{
    font-size: 34;

}

h3{
    color: blue;
    text-decoration: underline;
}

h4{color:grey;    
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
    
th, td {
    padding: 7px;
    text-align: left;    
}
